
<div>

  <center><h1>Tiny App</h1></center>
<!-- Incomplete
</div>



  <% if (username) { %>

   <center><p>You are logged in as: <%= username %> </p></center>

   <center><form action="/logout" method="POST" style="margin:20px;">

      <div style="padding: 20px"><button style="background-color: yellow; width: 80px;height:40px"><strong>Logout</strong></button></div>

  </form></center>


  <% }

  else{ %>

  <center>

  <a style="padding: 20px" href="/login">Login Here</a>

  <a style="padding: 20px" href="/register">Register Here</a>

  </center>

  <% } %>

</div>
-->


