<!DOCTYPE html>
<html lang="en">
  <head>

   <title>Home Page</title>

    <%- include partials/_head.ejs%>

  </head>

  <body>

    <header>
        <% include partials/_header %>
    </header>

    <h2 class="m-4">Welcome to the Learning Resource!</h2>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h6>URL</h6>
          <p>Description Lorem Ipsum </p>
          <span>Rating:<span class="rating"> 0</span></span>
          <span>Likes:<span class="likes"> 0</span></span>
          <div class="m-4 row justify-content-between">
            <button class="btn btn-primary btn-sm" type="submit">Comment</button>
            <button class="btn btn-primary btn-sm" type="submit">Rate </button>
            <button class="btn btn-primary btn-sm" type="submit">Like</button>
          </div>
        </div>
        <div class="col-md-4">
          <h6>URL</h6>
          <p>Description Lorem Ipsum </p>
          <span>Rating:<span class="rating"> 0</span></span>
          <span>Likes:<span class="likes"> 0</span></span>
          <div class="m-4 row justify-content-between">
            <button class="btn btn-primary btn-sm" type="submit">Comment</button>
            <button class="btn btn-primary btn-sm" type="submit">Rate</button>
            <button class="btn btn-primary btn-sm" type="submit">Like</button>
           </div>
        </div>
        <div class="col-md-4">
          <h6>URL</h6>
          <p>Description Lorem Ipsum</p>
          <span>Rating:<span class="rating"> 0</span></span>
          <span>Likes:<span class="likes"> 0</span></span>
          <div class="m-4 row justify-content-between">
            <button class="btn btn-primary btn-sm" type="submit">Comment</button>
            <button class="btn btn-primary btn-sm" type="submit">Rate</button>
            <button class="btn btn-primary btn-sm" type="submit">Like</button>
          </div>
        </div>
      </div>

    <footer class="m-4 panel-footer">
      <div class="container">
        <span class="text-muted">&copy; RAS 2017</span>
      </div>
    </footer>

    <% include partials/_foot %>


  </body>
</html>
