<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Login Page</title>

    <%- include partials/_head.ejs%>

  </head>


    <body class="container">

    <header>
      <nav class="navbar navbar-light bg-light justify-content-between">
      <img id="logo" src="/images/LR.png">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Register</button>
    </nav>
    </header>


      <main>
        <h3>Login to your account</h3>
        <form method="POST" action="/login">
          <div class="form-group">
            <label for="email">Email: </label>
            <input id="email" type="email" name="email" class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password: </label>
            <input id="password" type="password" name="password" class="form-control">
          </div>
          <button type="submit"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
        </form>
      </main>

      <footer class="m-4 panel-footer">
      <div class="container">
        <span class="text-muted">&copy; RAS 2017</span>
      </div>
    </footer>

    <%- include partials/_foot.ejs%>


    </body>
</html>




