<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Registration</title>
    <%- include partials/_head.ejs%>
    <script type="text/javascript" src="/scripts/registration.js"></script>
  </head>

  <body class="container">

    <header>
      <%- include partials/_header.ejs%>
    </header>

    <main id="registercontainer" class="container">
      <h3>Create an account</h3>
      <form id="registration-form" method="POST" action="/register">

        <div class="form-group">
        <label for="Name">Name: </label>
          <input id="name" type="text" name="name" class="form-control">
        </div>

        <div class="form-group">
          <label for="email">Email: </label>
          <input id="email" type="email" name="email" class="form-control">
        </div>

        <div class="form-group">
          <label for="password">Password: </label>
          <input id="password" type="password" name="password" class="form-control">
        </div>

        <button id="registerbut" type="submit"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</button>

      </form>
    </main>

    <footer class="m-4 panel-footer">
      <div class="container">
        <span class="text-muted">&copy; RAS 2017</span>
      </div>
    </footer>

    <%- include partials/_foot.ejs%>

  </body>
</html>




