<!DOCTYPE html>
<html>
<head>
  <title></title>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>

<header>
  <% include partials/_header %>
</header>

  <% for (let i in urls) { %>
    <div>
    <a href="/urls/<%=urls[i].id%>"><%=urls[i].Title%></a>
    <p><%= urls[i].Desc%></p>
    </div>
  <%}%>

</body>
</html>
