@import "variables";

#logo {
  height: 30px;
  width: 30px;
  border-radius: 20px
}

#navbar-search {
  min-width: 300px;
  position: relative;
}

#navbar-search input{
  width:100%;
  border-radius: 50px;

}
#navbar-search button{
  border-radius:50%;
  border: none;
  background: $pink;
  color:#FCF3F4;
  position: absolute;
  top: 4px;
  right: 4px;
}



