div.col-lg-3 {
  margin: 10px;
  padding: 10px;
  border: 1px solid #94CACC;
  border-radius: 10px;
}
div.col-lg-3:hover {
  margin: 10px;
  padding: 10px;
  border: 1px solid #BE6876;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px;
}
div.col-lg-3:hover .head {
  background-color: #ED8C95;
  color: black;
  border-radius: 10px;
}

#profilepicture{
  height:250px;
  width:250px;
  margin-top: -40px;
}
header.head {
  background-color: #9BD8D8;
  color: black;
  border-radius: 10px;
}
main.textbox{
  background-color: #FFF;
}
.jumbotron {
  margin-top: 20px;
  background-color: #9BD8D8;
}
#addnew {
  background-color: #328F8F;
  border-color: #146060;
}
h5{
  padding: 10px;
}
h5 a {
  text-transform: none;
  color: #1A3A3A;
}
h5 a:hover {
  color: black;
}
#plus {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #328F8F;
  border: 1px solid #146060;
  color: #FFF;
}
#plus:hover {
  background-color: #146060;
  border: 1px solid #BE6876;
  color: #FFF;
}
#editprofile {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #328F8F;
  border: 1px solid #146060;
  color: #FFF;
}
#editprofile:hover {
  background-color: #146060;
  border: 1px solid #BE6876;
  color: #FFF;
}