@import "variables";

#registercontainer{
  padding: 30px;
  background-color: $dgrey;
  max-width: 500px;
  color: $white;
  border-radius: 3px;
  h3 {
    padding-bottom: 20px;
    font-family: 'Pacifico', cursive;
  }
  #registration-form {
    input{
      outline-color: $pink;
      background-color: $dgrey;
      border: none;
      border-radius: 0;
      border-bottom: 2px solid $pink;
      color: $white;
      margin-bottom: 20px;
    }
    button{
      border: none;
      border-radius: 3px;
      background-color: $pink;
      color: $white;
      width: 100%;
      outline-color: $pink;
      padding: 10px 0;
    }
    p{
      margin-top: 20px;
      text-align: center;
      font-size: 0.9em;
    }
    a {
      color: $pink;
    }
    .registererror {
      color: $pink;
      font-size: 0.9em;
    }
  }
}

