#registercontainer{
  padding: 10px;
  border: 2px solid #94CACC;
  border-radius: 10px;
}
#registerbut{
  border: 1px solid #BE6876;
  border-radius: 5px;
  background-color: #ED8C95;
  color: #FCF3F4;
}
header.titleback{
  background-color: #9BD8D8;
  height: 100px;
  line-height: 2;
  border-radius: 5px;
}
h2 {
    text-align: center;
    color: #000;
}