#search-results {
  margin-top: 60px;
  padding: 20px;
  border: 2px solid #94CACC;
  border-radius: 10px
}

#search-results h5{
  background-color: #9BD8D8;
  color: black;
  border-radius: 10px;
}

#search-results a{
  color: #9BD8D8;
  text-decoration: underline;
}
