@import "variables";

#oneurlcontainer {

  background-color: $vlgrey;
  box-shadow: 2px 2px 2px $lgrey;
  padding: 0;

  header:after {
    content: '';
    display: block;
    clear: both;
  }

  header {
    padding: 30px;
    background-color: $dgrey;
    color: $white;

    img {
      object-fit: cover;
      width:150px;
      height:150px;
      float: left;
      margin-right: 30px;
    }

    a {
      color: $pink;
    }

    .categories {
      padding: 10px 0;
      font-size: 1.1em;
    }

    .rating {
      color: $pink;
      font-size: 1.5em;
      padding: 10px 0;
    }
  }

  main {
    padding: 30px;
  }

  #counter{
    font-size: 1.5em;
    color: $pink;
  }


  button{
    border: none;
    background: none;
    color: $pink;
    font-size: 1.5em;
  }

  main a {
    color: $pink;
  }

}



#new-comment-form {
  margin-bottom: 50px;

  h4 {
    font-family: 'Pacifico', cursive;
    color: $pink;
    padding-bottom: 20px;
  }

  textarea {
    outline-color: $pink;
  }

  button{
    border: none;
    border-radius: 3px;
    background-color: $pink;
    color: $white;
    outline-color: $pink;
    padding: 10px 20px;
  }
  button i {
    padding-right: 10px;
  }
}


#comments-section {
    background-color: $vlgrey;
    box-shadow: 2px 2px 2px $lgrey;
    margin: 20px;
    padding: 50px;

  .comment-box {

    border: 3px solid $dgrey;
    padding: 0px;
    margin: 20px 0;
    border-radius: 5px;

    header {
      background-color: $dgrey;
      height: 60px;
      img:after {
        content: '';
        display: block;
        clear: both;
      }

      img {
        height: 40px;
        border-radius: 20px;
        float: left;
        margin: 10px
      }

      div {
        margin: 15px;
        float: left;
      }
      p {
        color: $white;
        font-family: 'Pacifico', cursive;
      }
    }

    main {
      margin: 10px;
      p {
        padding: 10px;
      }
      div {
        color: $pink;
      }
    }



  }

}














