
#urlshow{
  padding: 10px;
  border: 1px solid #94CACC;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10px;
}
#urlshow:hover{
  padding: 10px;
  box-shadow: 2px 2px 2px 2px #444;
}
#urlshow:hover #urlheader {

  color: black;
  border-radius: 10px;
}
#urlheader {
  background-color: #9BD8D8;
  color: black;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
#username{
  float: right;
}
#comments {
  border-radius: 10px;
  background-color: #328F8F;
  border: 1px solid #146060;
  color: #FFF;
  float: right;
  margin-top:-55px;

}
#comments:hover {
  background-color: #BE6876;
  border: 1px solid #BE6876;
  color: #FFF;
}
#descriptions {
  color: black;
  padding: 10px;
  margin: 10px;
}
#newcomment {
  margin:10px;
}
#categoryofurl{
  background-color: #BE6876;
  height: 25px;
  width: 40px;
  border-radius: 5px;
  margin-top:-30px;
  text-align: center;
  min-width: 60px;
  float: right;
}

div.comment-name{
  font-size: 20px;
   border-bottom: 2px solid #9BD8D8;
   height:40px;
}
div.comment-text{
  font-size: 15px;
}
div.comment-box{
  border: 1px solid #9BD8D8;
  border-radius: 10px;
  margin:10px 10px;
  padding: 10px;

}

.avatar-img {
  border-radius: 10px;
  float:right;
  margin:5px;
  height:40px;
  width:40px;
  margin-top:-5px;
  margin-right: -5px;

}
#urlfull{
  float:right;
}

#likebutton {
  border-radius: 10px;
  background-color: #328F8F;
  border: 1px solid #146060;
  color: #FFF;
  margin: 15px;

}
#likebutton:hover {
  background-color: #BE6876;
  border: 1px solid #BE6876;
  color: #FFF;
}











