@import "variables";

.urlcontainer {

  margin: 20px;
  padding: 0px;
  box-shadow: 2px 2px 2px $lgrey;
  background-color: $vlgrey;

  .url-image {
    text-align: center;
    background-color: $dgrey;
    img{
      max-height: 70px;
      width: auto;
      margin: 20px 0;
    }
  }

  .url-content {
    padding: 30px;

    h4 {
      color: $pink;
      font-family: 'Pacifico', cursive;
      margin-bottom: 20px;
    }

    .rating {
      color: $pink;
    }
  }

}




