#title{
  text-align: center;
  background-color: #9BD8D8;
  border: 3px solid #94CACC;
  border-radius: 10px;
  height: 100px;
  line-height: 3;

}

div.col-md-4 {
  margin: 10px;
  padding: 10px;
  border: 1px solid #94CACC;
  border-radius: 10px;
}

header.head {
  background-color: #9BD8D8;
  color: black;
  border-radius: 10px;
}
main.textbox{
  background-color: #FFF;
}
h5{
  padding: 10px;
}
h5 a {
  text-transform: none;
  color: #1A3A3A;
}
h5 a:hover {
  color: black;
}
#border {
  border: none;
}
